<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SiciarekJsTransBundle JavaScript Test</title>
    <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.12.0.css">
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>

<script src="http://code.jquery.com/qunit/qunit-1.12.0.js"></script>

<script>
    {% raw %}
    String.prototype.locale = 'en';
    String.prototype.translations = {
        'TranschoiceChooseTest': {
            '{0} There are no apples|{1} There is one apple': '{0} There are no apples|{1} There is one apple',
            '{1} There is one apple|]1,Inf] There are %count% apples': '{1} There is one apple|]1,Inf] There are %count% apples',
            '{1} There is one apple|]2,Inf] There are %count% apples': '{1} There is one apple|]2,Inf] There are %count% apples',
            '{0} There are no apples|There is one apple': '{0} There are no apples|There is one apple',
            '{0} There are no apples|{1} There is one apple|]1,+Inf] There are %count% apples': '{0} There are no apples|{1} There is one apple|]1,+Inf] There are %count% apples',
            '{0}     There are no apples|{1} There is one apple|]1,Inf] There are %count% apples': '{0}     There are no apples|{1} There is one apple|]1,Inf] There are %count% apples',
            '{0}There are no apples|{1} There is one apple|]1,Inf] There are %count% apples': '{0}There are no apples|{1} There is one apple|]1,Inf] There are %count% apples',
            '{0} There are no apples|{1} There is one apple|]1,Inf]There are %count% apples': '{0} There are no apples|{1} There is one apple|]1,Inf]There are %count% apples',
            '{0} There are no apples|{1} There is one apple|]1,Inf]     There are %count% apples': '{0} There are no apples|{1} There is one apple|]1,Inf]     There are %count% apples',
            '{0}|{1} There is one apple|]1,Inf] There are %count% apples': '{0}|{1} There is one apple|]1,Inf] There are %count% apples',
            '{0} There are no apples|{1}|]1,Inf] There are %count% apples': '{0} There are no apples|{1}|]1,Inf] There are %count% apples',
            '{0} There are no apples|]0,1[ There is almost one apple|{1} There is one apple|[1,Inf] There is more than one apple': '{0} There are no apples|]0,1[ There is almost one apple|{1} There is one apple|[1,Inf] There is more than one apple',
            '{0.0} There are no apples|]0,1[There are %count% apples|{1} There is one apple|[1,Inf] There is more than one apple': '{0.0} There are no apples|]0,1[There are %count% apples|{1} There is one apple|[1,Inf] There is more than one apple'
        }
    };
    {% endraw %}
</script>

{% if app.environment == 'prod' %}
    <script src="{{ asset('bundles/siciarekjstrans/js/trans.js') }}"></script>
    <script src="{{ asset('bundles/siciarekjstrans/js/qunit/js-trans-test.js') }}"></script>
{% else %}
    {% javascripts '@SiciarekJsTransBundle/Resources/public/js/trans.js' output='js/trans.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
    {% javascripts '@SiciarekJsTransBundle/Resources/public/js/qunit/js-trans-test.js' output='js/qunit/js-trans-test.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endif %}

</body>
</html>